*::-webkit-scrollbar{
  display: none;
}
.hide-scrollbar::-webkit-scrollbar{
  display: none;
}

.section {
  width:100vw;
  padding: 40px 60px;
  background: black;
  color: white;
  overflow: hidden;
}

.heading {
  font-size: 34px;
  margin-bottom: 25px;
}

/* SLIDER */
.slider {
  overflow: hidden;
  position: relative;
}

/* MOVING TRACK */
.slide-track {
  display: flex;
  gap: 22px;
  width: calc(260px * 20);
  animation: scroll 30s linear infinite;
}

/* PAUSE ON HOVER */
.slider:hover .slide-track {
  animation-play-state: paused;
}

/* POSTERS */
.poster {
  width: 260px;
  height: 370px;
  object-fit: cover;
  border-radius: 14px;
  transition: all 0.35s ease;
  border: 2px solid rgba(255,255,255,0.08);
  box-shadow:
    0 0 12px rgba(255,0,0,0.15),
    0 0 25px rgba(255,0,0,0.08),
    0 15px 35px rgba(0,0,0,0.7);
}

.poster:hover {
  transform: scale(1.01);
  border: 2px solid rgba(255,0,0,0.7);
  box-shadow:
    0 0 20px red,
    0 0 40px rgba(255,0,0,0.6),
    0 20px 45px rgba(0,0,0,0.9);
  z-index: 5;
}

/* ANIMATION */
@keyframes scroll {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}
