header {
  width: 1140px;
  max-width: 90%;
  height: 60px;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;
  background-color: transparent;
}

nav {
  display: flex;
  align-items: center;
}

header a {
  margin-right: 60px;
  color: white;
  text-decoration: none;
  font-weight: 700;
}

.search-iconn {
  color: white;
}

.USER {
  margin-left: auto;
  padding: 6px 14px;
  border-radius: 20px;
  background: rgba(136, 0, 248, 0.15);
  font-size: 12px;
  color: white;
}
