.slider {
  position: relative;
  top: 0;
  left: 80px;                
  width: calc(100vw - 80px);
  height: 100vh;
}

.slider img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.carousel-caption {
  bottom: 8%;
  margin-right: 80%;
}

.carousel-caption h2 {
  font-size: 3rem;
  font-weight: 600;
}
